<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-theme.css" rel="stylesheet">
    <script src="bundle.js"></script>
</head>
<body ng-app="app" ng-controller="testCtrl">
    Say hello to: <input type="text" ng-model="name">
    <h1>Hello, {{name}}</h1>
    <h2>Do you think U are {{getName()}}</h2>
    <ul>
        <li ng-repeat="country in countries">
            {{country.name}} has population of {{country.population}}
        </li>
    </ul>
    <br>
    World's population: {{population}} millions
    <div class="container">
        <div class="row">
            <textarea ng-model="message">{{message}}</textarea>
        </div>
        <div class="row">
            <button class="btn btn-primary" ng-click="send()" ng-disabled="!hasValidLength()">Send</button>
            <button class="btn btn-danger" ng-click="clear()">Clear</button>
        </div>
    </div>
    <span ng-class="{'text-warning': shouldWarn()}">Remaining: {{remaining()}}</span>
    <span>{{invoked()}}</span>
</body>
</html>